[Unit]
Description=Harmonic cOS Installation Single-Use Startup Script
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/usr/local/bin/harmonic-installer.sh -v -i
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
