[Unit]
Description=Harmonic Installer
DefaultDependencies=no
After=network-online.target
After=multi-user.target
Before=apt-daily.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/harmonic-install-setup.sh
RemainAfterExit=true
KillMode=process
TasksMax=infinity
StandardOutput=journal+console

[Install]
WantedBy=network-online.target